/* BASIC STYLES */

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
}

/* CLOCK FACE */

#clock {
  position: relative;
  height: 50%;
  width: 30%;
  min-height: 80x;
  min-width: 100px;
  border-radius: 50%;
  border: 20px solid darkgray;
  background: #fff url(./ios_clock.svg) no-repeat center;
  background-size: 85%;
  padding-bottom: 31%;
}

/* CENTER CIRCLE */
#clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10;
}

/* CLOCK HANDS */

#hourHand {
  background: green;
  height: 16%;
  left: 49.3%;
  position: absolute;
  top: 34%;
  transform-origin: 50% 100%;
  width: 2%;
}

#minuteHand {
  background: red;
  height: 25%;
  left: 49.3%;
  position: absolute;
  top: 25%;
  transform-origin: 50% 100%;
  width: 1%;
}

#secondHand {
  background: blue;
  height: 28%;
  left: 49.3%;
  position: absolute;
  top: 22%;
  transform-origin: 50% 100%;
  width: 1%;
}
